html {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #333;
	margin: 0;
	padding: 0;
	background: #f2f5ff;
	height: 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}
#root {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	background: #faecea;
	height: max(100vh, 800px);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
	margin: 0;
	padding: 0;
	line-height: 1;
}
h1,
h2,
h3,
h4 {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 18px;
}
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	padding-top: 3px;
	padding-bottom: 6px;
}
ul {
	padding-left: 20px;
}
li {
	padding-top: 10px;
}
a,
.link {
	color: #743481;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
.tx_link a {
	font-weight: 600;
}
a:hover,
.link:hover {
	transition: all 0.15s ease-in-out;
	color: #f1592a;
	text-decoration: underline;
}
a:active,
a:focus {
	opacity: 1;
	transition: all 0.15s ease-in-out;
}
a:focus {
	outline: thin dotted;
	outline-offset: 3px;
}
img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
	border: none;
}
iframe {
	max-width: 100%;
	border: none;
}
input,
select,
textarea,
button {
	font-size: 14px;
	color: #000;
	padding: 4px;
	overflow: auto;
}
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
	border: 1px solid #dddddd;
	background: #fff;
	padding: 0 12px;
	box-shadow: none;
	height: 40px;
	max-width: 100%;
	border-radius: 8px;
	width: 100%;
}
input[type='search'] {
	-webkit-appearance: none;
}
textarea {
	line-height: normal;
	padding: 9px;
	width: 100%;
}
textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus {
	background: #f9f9f9;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
input[type='image'],
input[type='submit'],
input[type='button'],
button {
	background: #f1592a;
	border: medium none;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 0px 23px;
	text-transform: uppercase;
	height: 40px;
	transition: all 0.1s ease-in-out 0s;
	font-weight: bold;
	-moz-appearance: none;
	-webkit-appearance: none;
	max-width: 100%;
}
input[type='image']:hover,
input[type='submit']:hover,
input[type='button']:hover,
button:hover {
	background-color: #555;
}
input[type='image']:active,
input[type='submit']:active,
input[type='button']:active,
button:active {
	box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
}
.max-amount {
	position: absolute;
	background: unset;
	right: 5px;
	color: gray;
	height: 30px;
	padding: 0px 10px;
}
.max-amount:hover {
	background-color: #d6ebfd;
}
#transactions {
	height: 75%;
	overflow-y: scroll;
	scrollbar-width: none;
}
#transactions::-webkit-scrollbar {
	display: none;
}
.tx-row {
	display: flex;
	flex-flow: row;
	padding: 9px 6px;
	border-radius: 6px;
}
.tx-row .colTx {
	padding-left: 0;
	width: 23%;
}
.tx-row .colDate {
	width: 32%;
	text-align: right;
	padding-left: 0;
}
.tx-row .colAlterdot {
	width: 28%;
	text-align: right;
}
.tx-row .colFiat {
	width: 17%;
	text-align: right;
}
.tx-row .colConfirmations {
	display: none; /*not really needed, everything is always confirmed*/
	width: 17%;
	padding-right: 0;
}
#transactions .tx-row:nth-child(odd) {
	background-color: #e5e9ff;
}
#transactions .tx-row.sent .colDate,
#transactions .tx-row.sent .colAlterdot,
#transactions .tx-row.sent .colFiat {
	color: #116830;
	font-weight: 600;
}
#transactions .tx-row.received .colDate,
#transactions .tx-row.received .colAlterdot,
#transactions .tx-row.received .colFiat {
	color: #5e1c07;
	font-weight: 600;
}
label {
	margin-bottom: 0;
}
.Dropdown-control {
	width: 86%;
	border-radius: 6px;
}
.Dropdown-placeholder {
	height: 14px;
	font-size: 12px;
}
.Dropdown-menu {
	font-size: 12px;
}
#main {
	height: 100%;
}
.main-left,
.main-right {
	width: 48%;
	height: 94%;
}
.main-left {
	float: left;
}
.main-right {
	float: right;
}
.notification-container {
	width: 420px;
}
.amount-box {
	width: 48%;
}
.amount-line {
	position: relative;
	display: flex;
	flex-flow: row;
	align-items: center;
}
.circle1,
.circle2,
.circle3 {
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
	position: absolute;
}
.circle1 {
	top: 44%;
	left: 48%;
	border-radius: 8rem;
	height: 8rem;
	width: 8rem;
	z-index: 1;
}
.circle2 {
	top: 18%;
	right: 6%;
	border-radius: 10rem;
	width: 10rem;
	height: 10rem;
	z-index: 1;
}
.circle3 {
	top: 50%;
	left: 20%;
	border-radius: 6rem;
	width: 6rem;
	height: 6rem;
	z-index: 1;
}
.qr-code {
	border-radius: 12px;
	margin: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}
.full-row {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.panel {
	position: relative;
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(4px);
	z-index: 2;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px #9f434e;
}
.ipfs-frame {
	width: 100%;
	height: calc(100% - 52px);
	margin-top: 12px;
	border-radius: 12px;
}
@media screen and (max-width: 1000px) {
	.main-left,
	.main-right {
		float: unset;
		width: 100%;
	}
	.main-right {
		padding-top: 20px;
	}
}
@media screen and (max-width: 767px) {
	h1 {
		font-size: 1.4rem;
	}
	h2 {
		font-size: 1.3rem;
	}
	h3 {
		font-size: 1.2rem;
	}
	input,
	select,
	textarea,
	button {
		padding: 1px;
	}
	.col {
		flex-basis: auto;
	}
	.row {
		margin-right: 0;
	}
	input[type='image'],
	input[type='submit'],
	input[type='button'],
	button {
		padding: 0px 18px;
	}

	.panel {
		float: none;
		width: 100%;
		font-size: 12px;
	}
}
